<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style type="text/css">
		html{
			background-color: black;
		}
	
		body{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			position: relative;
		}
	</style>
        <form method='POST' action='/sending'>
            <input  type="text" placeholder="type passwod" required pattern="litsocisbest">
        <button type='submit' >Send Mails </button> 
    </form>
</body>
</html>